// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #e3e3e3;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #c8c8c8;
  --ion-color-primary-tint: #e6e6e6;

  /** secondary **/
  --ion-color-secondary: #989898;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #868686;
  --ion-color-secondary-tint: #a2a2a2;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  // CINZA
  --ion-color-cinza: #989898;
  --ion-color-cinza-rgb: 61, 194, 255;
  --ion-color-cinza-contrast: #000;
  --ion-color-cinza-contrast-rgb: 0, 0, 0;
  --ion-color-cinza-shade: #868686;
  --ion-color-cinza-tint: #a2a2a2;

  // lARANHA 
  --ion-color-laranja: #ff881a;
  --ion-color-laranja-rgb: #fff;
  --ion-color-laranja-contrast: #000;
  --ion-color-laranja-contrast-rgb: 0, 0, 0;
  --ion-color-laranja-shade: #e07817;
  --ion-color-laranja-tint: #ff9431;

  // AZUL 
  --ion-color-azul: #0047a3;
  --ion-color-azul-rgb: #fff;
  --ion-color-azul-contrast: #000;
  --ion-color-azul-contrast-rgb: 0, 0, 0;
  --ion-color-azul-shade: #003e8f;
  --ion-color-azul-tint: #1a59ac;

  .ion-color-cinza {
    --ion-color-base: var(--ion-color-cinza);
    --ion-color-base-rgb: var(--ion-color-cinza-rgb);
    --ion-color-contrast: var(--ion-color-cinza-contrast);
    --ion-color-contrast-rgb: var(--ion-color-cinza-contrast-rgb);
    --ion-color-shade: var(--ion-color-cinza-shade);
    --ion-color-tint: var(--ion-color-cinza-tint);
  }

  .ion-color-laranja {
    --ion-color-base: var(--ion-color-laranja);
    --ion-color-base-rgb: var(--ion-color-laranja-rgb);
    --ion-color-contrast: var(--ion-color-laranja-contrast);
    --ion-color-contrast-rgb: var(--ion-color-laranja-contrast-rgb);
    --ion-color-shade: var(--ion-color-laranja-shade);
    --ion-color-tint: var(--ion-color-laranja-tint);
  }
  .ion-color-azul {
    --ion-color-base: var(--ion-color-azul);
    --ion-color-base-rgb: var(--ion-color-azul-rgb);
    --ion-color-contrast: var(--ion-color-azul-contrast);
    --ion-color-contrast-rgb: var(--ion-color-azul-contrast-rgb);
    --ion-color-shade: var(--ion-color-azul-shade);
    --ion-color-tint: var(--ion-color-azul-tint);
  }

}